<mat-toolbar  class="navbar">
    <div>
        <span routerLinkActive="active"><a routerLink="categorie" >Categorie</a> </span>
        <span routerLinkActive="active"><a routerLink="client" >Client</a> </span>
        <span routerLinkActive="active"><a routerLink="depot" >Depot</a> </span>
        <span routerLinkActive="active"><a routerLink="retrait" >Retrait</a> </span>
        <span routerLinkActive="active"><a routerLink="recu" >Recu</a> </span>
        <span routerLinkActive="active"><a routerLink="" >Statistique</a> </span>
        
    </div>
    <div class="navbar-right"> 
        <span routerLinkActive="active"><a routerLink="connection" >Connection</a> </span>
      
        
    </div>

</mat-toolbar>