.form-group{

    display: inline;
    padding: 5px;
    margin-left: 5px;
}
.example-form-field {
    width: 200px;
  }
  mat-form-field{
      margin: 5px;
  }
  .mesdates {
      display: inline;
      float: right;
  }
  .en-tete{
      display: inline-block;
  }
 .total,.avance{

        display: inline-block;
        margin: 5%;

 }
 

